

.home-body{
 width: 90%;
}


body{
    background-color: #a8a59f;
    background-size: cover;
    font-family: sans-serif;

}
.home-body{

	background-color: #090909;
}
.home-footer{
	background-color: #090909;
}
.home-footer h1{

    background-color: #766d6d;
    font-family: monospace;
   
    color: #f4f4f4;
}
.index a{
	opacity: 1;
    border: 1px solid white;
    background-color: white;
    color: #0d0d0d;
    padding: 0.3rem;
    border-radius: 50px;}

.container{
	

    padding-left: 200px;
    padding-right: 342px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fffefe;
	color: black;
	width:70%;
	
	overflow: hidden;
	margin-top: 1%;
	margin-left: -1%;

}
.var-list {
	width: 200px;

}

.var-list form{
	 
	 color: antiquewhite;
    display: inline-flex;
    margin-left: 1001px;
    margin-top: -201px;
    padding: 50px;
    width: 362.375;
    border: crimson solid;
    height: 232.35;

}

.performance_metric
	{
       
    height: 500px;
    width: 1000px;
    margin-left: 215px;
    margin-top: 100px;
   
    color: #e8dede;
    text-align: center;
    background-color: darkgrey;
    font-family: monospace;
}

.performance_metric h1{
	 background-color: dimgrey;
}

.home-meme img {

 
    margin-right: auto;
    display: block;
    width: 30%;
    
    margin-left: 488px;

   
}
.home-meme h3{
    width: 346px;
    margin-left: 112px;
}

.home-meme form {
    z-index: 5;
    margin-top: -25%;
    margin-left: -6%;
    height: 100px;
    width: 597px;
}
.choose_file_btn {
    margin-left: 200px
}

.send_file_btn{
	margin-left: -150px;
}

.test  a{
	opacity: 1;
    border: 1px solid white;
    background-color: white;
    color: #0d0d0d;
    padding: 0.3rem;
    border-radius: 50px;}



.feedback a{
	opacity: 1;
    border: 1px solid white;
    background-color: white;
    color: #0d0d0d;
    padding: 0.3rem;
    border-radius: 50px;}

.navbar{  
	z-index: 3;
	position: fixed;
	padding-top: 60px;
	color: black;


}



header{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

.head{
	float:left;
	color: #fff;
	margin-left: 10px;
	padding-left: 60px;
	font-size:25px;
	font-family: "red serifs";

}

nav{z-index: 3;
	float: left;
	margin-left: 450px;
	margin-top: -45px;
	opacity: 1;

}

.navbar ul{ 
	z-index: 3;
	opacity: 0.6;
	padding-right: 220px;
	padding-left: 200px;
    background-color: #322e2e;
 
    border-radius: 50px;
    
}

.navbar ul li{
	z-index: 3;
	display: inline-block;
	padding: 1rem;
	font-family: "robot";
	 border-radius: 50px;
    font-family: "robot", sans-serif;
    
}

.navbar ul li a {
	z-index: 3;
	color: white;
	text-decoration: none;
	font-weight: none;
	transition: 0.6s;

}

.navbar ul li a.active{
	z-index: 3;
	border: 1px solid black;
	background-color: white;
}

.navbar ul li a:hover{
	z-index: 3;
	opacity: 1;
	border:1px solid white;
	
	background-color: white;
    color: #0d0d0d;
    padding: 0.3rem;
    border-radius: 50px;
}


showcase h1 {
	
    padding-left: 200px;
    padding-right: 200px;
 
	font-family: "woodcutter";
	text-align: center;
	background-color: #E91E63;
    color: #fffefe;
}

showcase h3{
	 background-color: #00BCD4;
    padding: 10px;

	text-align: center;
	letter-spacing: 2px;
}


 

/*******************************************************************test CSS **********************************************/
.test-body{
	background-color: #111516;
}




header {

       width: 80%;
	margin:auto;
	overflow: hidden;	 
 }
 


 






/*****************************************feedback css********************/
input[type=text], select, textarea {
	opacity: 0.7;
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.feedback-container {
	transform: translate(20px,20px);
	background-image:url(css/sit-2.png);
	background-size: cover;
	opacity: 0.95;
	display: block;

	
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}





.feedback-body{
	z-index: 0;

	background-color: #e6e6e6;
	
	background-size: cover;

transform: translate(20px,20px);
	height: 50%;
	width: 60%;
}
.feedback-nav ul{
	display: inline-grid;
	text-align: center;
	padding-left: 5px;
	padding-right: 20px;
	padding-top: 190px;
	padding-bottom: 160px;
	margin-left: 530px; 


}




